@import 'c3/c3.min.css';
@import '@fontsource-variable/cabin';
@import '@fontsource-variable/lora';
@import '@fontsource-variable/bitter';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* C3 chart font configs */
.c3-axis-y text {
  font-family: 'cabin, serif';
  font-size: 14px;
}

.c3-axis-x text {
  font-family: 'cabin, serif';
  font-size: 14px;
}

.c3-legend-item text {
  font-family: 'sans-serif';
  letter-spacing: 0.12em;
}

.container {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
